<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Neon Admin Panel" />
	<meta name="author" content="NewTeam" />
	
	<title>Neon | Login</title>

	<link rel="stylesheet" href="assets/css/style.css">
</head>
<body ng-app="ZeitGeist">
	<div ng-controller="LoginCtrl as login">
		<div class="login-form">
			<div class="login-content">
				<form id="loginForm">
					<div class="alert alert-danger" ng-if="hasError">{{msg}}</div>
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon">
								<i class="entypo-user"></i>
							</div>
							<input type="text" class="form-control" name="username" id="username" placeholder="Usuário" autocomplete="off" ng-model="username" />
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon">
								<i class="entypo-key"></i>
							</div>
							<input type="password" class="form-control" name="password" id="password" placeholder="Senha" autocomplete="off" ng-model="password" />
						</div>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary btn-block btn-login">
							<i class="entypo-login"></i>
							Entrar
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- Custom Scripts -->
	<script src="assets/js/angular/angular.min.js"></script>
	<script src="assets/js/angular/angular-route.min.js"></script>
	<script src="assets/js/angular/angular-sanitize.min.js"></script>
	<script src="assets/js/angular/angular-cookies.min.js"></script>
	<script src="assets/js/angular/mask.min.js"></script>
	<script src="app/app.js"></script>
	<script src="app/module-main.js"></script>
	<script src="app/service.js"></script>
	<script type="text/javascript">
		angular.element(document.getElementsByTagName('head')).append(angular.element('<base href="' + window.location.pathname + '" />'));
	</script>
</body>
</html>