/**
 *
 * Apply Here your Custom CSS
 *
*/

* {
    font-size: 15px;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.header {
    height: 90px;
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.header .logo {
    height: 70px;
}

.header .right-nav {
    position: absolute;
    right: 0;
}

.header .right-nav .user {
    padding: 20px 30px;
}

.header .right-nav .user .profile {
    color: #f6f6f6;
}

.side-bar {
    position: fixed;
    width: 20%;
    top: 0;
    bottom: 0;
    margin-top: 90px;
}

.content {
    margin-left: 20%;
    padding: 0 20px;
    margin-top: 90px;
}

ul.side-bar {
}

ul.side-bar li a {
    padding: 20px 20px;
    display: block;
	color: #636363;
}

ul.side-bar li a:hover {
    background-color: #a7a7a7;
}

.dropdown-content li>a {
	color: #636363;
}

a.profile {
	cursor: pointer;
}

.page-title {
	padding: 20px 0 0;
	margin: 0;
	font-size: 2.5rem;
	font-weight: 500;
}

.page-sub-title {
	padding: 20px 0 0;
	margin: 0;
	font-size: 1.7rem;
	font-weight: 500;
}

.action {
	cursor: pointer;
}

#divButtonSaveBack {
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 30px;    
}

/* CSS Página - Inicio */

.form-content {
	padding: 20px 20px;
}

.template-list {
	margin-top: 20px;
}

.template-list .label {
	font-size: 1.05rem;
	color: #9e9e9e;
	margin-left: 12px;
}

.template-list ul {
	display: flex;
    flex-wrap: wrap;
	justify-content: center;
	margin: 0;
}

.template-list ul li {
	display: inline-block;
	padding: 10px;
}

.template-list ul li.selected {
	background-color: #CCC;
	border-radius: 5px;
}

.template-list ul li img {
	width: 80px;
}

.template-form {
	padding: 20px 50px;
}

.image-wrapper {
	width: 150px;
	height: 150px;
	overflow: hidden;
	margin-right: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #BBB;
}

.image-wrapper img {
	width: 100%;
}

.form-wrapper {
	flex-grow: 1;
}

.form-wrapper .file-path-wrapper .file-path {
	margin-bottom: 0;
}

.dp-flex {
	display: flex;
	align-items: center;
}
/* CSS Página - Fim */

.page-error-404 {
	display: flex;
	align-items: center;
	justify-content: center;
}

.page-error-404 .error-text h2 {
	font-size: 12rem;
	text-align: center;
}

.page-error-404 .error-text p {
	font-size: 5rem;
	margin: 0;
}



.login-container {
	margin-right: 20%;
	display: flex;
	align-items: center;
	padding-top: 50px;
}

/* ini new login*/


/*TODO: Mover CSS de login para outro arquivo de estilo */
/*body {*/
      /*display: flex;*/
      /*min-height: 100vh;*/
      /*flex-direction: column;*/
    /*}*/

    /*main {*/
      /*flex: 1 0 auto;*/
    /*}*/

    /*!*body {*!*/
      /*!*background: #fff;*!*/
    /*!*}*!*/

    /*.input-field input[type=date]:focus + label,*/
    /*.input-field input[type=text]:focus + label,*/
    /*.input-field input[type=email]:focus + label,*/
    /*.input-field input[type=password]:focus + label {*/
      /*color: #e91e63;*/
    /*}*/

    /*.input-field input[type=date]:focus,*/
    /*.input-field input[type=text]:focus,*/
    /*.input-field input[type=email]:focus,*/
    /*.input-field input[type=password]:focus {*/
      /*border-bottom: 2px solid #e91e63;*/
      /*box-shadow: none;*/
    /*}*/

/*end new login*/