<div>
	<div class="page-title">Contato</div>
	<hr>
	<form method="POST" action="../envioEmail/processa.php">
		<label>Nome</label>
		<input type="text" name="nome" placeholder="Nome completo" required="required"><br><br>

		<label>Assunto</label>
		<input type="text" name="assunto" placeholder="Qual assunto?" required="required"><br><br>

		<label>Email</label>
		<input type="email" name="email" placeholder="Seu melhor e-mail" required="required"><br><br>

		<label>Mensagem</label>
		<textarea name="mensagem" rows="4" cols="50" class="materialize-textarea" required="required"></textarea><br><br>

		<input type="submit" class="btn grey darken-3" value="Enviar"><br><br>
	</form>
</div>
