<div ng-init="initListage()">
    <div class="row">
        <div class="col s11">
            <div class="col s6">
                <span id="titulo" class="flow-text">Edições</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="col s3 offset-s7">
                <select select-name="dropChange" id="selectDefault" ng-model="ZeitGeistModule" class="browser-default" ng-change="DropDownChanged()">
					<option value="" selected="selected">Todas</option>
					<option value="2">Publicadas</option>
					<option value="1">Rascunhos</option>
		 	</select>
            </div>
        </div>
    </div>         

    <div class="valign-wrapper" class="col s2">
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large waves-effect waves-light red" ng-href=""><i class="material-icons">add</i></a>
        </div>
    </div>

    <div class="row" ng-repeat="j in jornalList">
        <div class="col l4">
            <div class="card horizontal">
                <div class="card-image">
                    <img src='data:image/jpg;base64,{{j.valorPaginaImagem}}'></img>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h6>N° {{j.numEdicaoJornal}}</h6>
                        <h6>{{j.dtaPublicacaoJornal}}</h6>
                        <h6>{{j.descSituacao}}</h6>
                    </div>
                    <div class="card-action">
                        <a href="#">Visualizar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
