<div ng-init="init()">
    <h2>Jornal</h2>
    <hr>
    <form role="form" class="form-horizontal" ng-submit="save()">
        <div class="form-group">
            <label for="numero" class="col-sm-4 col-md-4 control-label">Número da edição</label>
            <div class="col-sm-3 col-md-3">
                <input type="text" class="form-control" id="numero" placeholder="Número da edição" required ng-model="jornal.numEdicaoJornal">
            </div>
        </div>
        <div class="form-group">
            <label for="titulo" class="col-sm-4 col-md-4 control-label">Titulo do jornal</label>
            <div class="col-sm-3 col-md-3">
                <input type="text" class="form-control" id="titulo" placeholder="Titulo do jornal" required ng-model="jornal.nomTituloJornal">
            </div>
        </div>
        <div class="form-group">
            <label for="publicacao" class="col-sm-4 col-md-4 control-label">Data da publicação</label>
            <div class="col-sm-3 col-md-3">
                <input type="text" class="form-control" id="publicacao" placeholder="Data da publicação" required ng-model="jornal.dtaPublicacaoJornal">
            </div>
        </div>
        <div class="form-group" ng-show="isEdit">
            <label for="situacao" class="col-sm-4 col-md-4 control-label">Situação</label>
            <div class="col-sm-3 col-md-3">
                <select class="browser-default" ng-model="jornal.idSituacao" disabled>
                    <option value="1">Rascunho</option>
                    <option value="2">Publicado</option>
                </select>
            </div>
        </div>
        <div class="form-group" ng-show="isEdit">
            <label for="atualizacao" class="col-sm-4 col-md-4 control-label">Data da última atualização</label>
            <div class="col-sm-3 col-md-3">
                <input type="text" class="form-control" id="atualizacao" placeholder="Data da última atualização" ng-model="jornal.dtaUltimaAtualizacaoJornal" disabled>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-md-offset-4 col-sm-3 col-md-3">
                <button type="submit" class="btn btn-blue">Salvar</button>
                <button type="button" class="btn btn-default" ng-click="go('jornal/')">Voltar</button>
            </div>
        </div>
        <div ng-show="isEdit">
            <h3>Páginas</h3>
            <hr>
            <a class="btn btn-default" style="margin-bottom: 10px" ng-click="goPagina()">Nova</a>
            <table class="bordered">
                <tr>
                    <th class="text-center col-sm-1 col-md-1">Número da página</th>
                    <th class="col-sm-5 col-md-5">Nome</th>
                    <th class="col-sm-1 col-md-1">Reordenar</th>
                    <th class="col-sm-3 col-md-3"></th>
                </tr>
                <tr ng-repeat="pagina in paginaList">
                    <td class="text-center">{{pagina.numPagina}}</td>
                    <td>{{pagina.nomPagina}}</td>
                    <td class="text-center">
                        <div>
                           <i class="small material-icons" title="Mover para cima" ng-hide="{{pagina.primeiraPagina}}" ng-click="subirPagina(pagina.idPagina)">arrow_drop_up</i>
                           <i class="small material-icons" title="Mover para baixo" ng-hide="{{pagina.ultimaPagina}}" ng-click="descerPagina(pagina.idPagina)">arrow_drop_down</i>
                        </div>
                    </td>
                    <td class="text-center">
                        <a ng-href="jornal/{{jornal.idJornal}}/pagina/{{pagina.idPagina}}" class="btn btn-default btn-sm btn-icon icon-left">
                            <i class="entypo-pencil"></i>Editar
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>
