<div ng-init="initList()">
    <div class="row">
        <div class="col s7">
			<div class="page-title">Edições</div>
        </div>
		<div class="col s5" style="padding-top: 20px">
			<select select-name="dropChange" id="selectDefault" ng-model="ZeitGeistModule" class="browser-default" ng-change="DropDownChanged()">
				<option value="" selected="selected">Todas</option>
				<option value="2">Publicadas</option>
				<option value="1">Rascunhos</option>
			</select>
		</div>
    </div>
	<hr>

    <div class="valign-wrapper" class="col s2">
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large waves-effect waves-light grey darken-3" ng-href="#!/jornal/0" ><i class="material-icons">add</i></a>
        </div>
    </div>

    <div class="row">
        <div class="col l4 m6 s12" ng-repeat="j in jornalList">
            <div class="card horizontal">
                <div  class="card-image">
                    <img class="action" src='{{j.valorPaginaImagem}}' ng-if="j.valorPaginaImagem != '' && j.valorPaginaImagem != null" ng-click="goJornal(j.idJornal)" />
					<img class="tamanhoImagem action" src= 'assets/images/sem-imagem.png' ng-if="j.valorPaginaImagem == '' || j.valorPaginaImagem == null" ng-click="goJornal(j.idJornal)" />
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h4>Jornal N° {{j.numEdicaoJornal}}</h4>
                        <h5>{{j.dtaPublicacaoJornalReduzida}}</h5>
                        <h6>{{j.descSituacao}}</h6>
                    </div>
                    <div class="card-action">
                        <!--<a href="../jornal-view/{{j.idJornal}}">Visualizar</a>-->
                        <i class="small material-icons action" title="Editar" ng-click="goJornal(j.idJornal)">create</i>
                        <i class="small material-icons action" title="Publicar" ng-click="publicarJornal(j.idJornal)" ng-hide={{j.publicado}}>cloud_upload</i>
                        <i class="small material-icons action" title="Excluir" ng-click="excluirJornal(j.idJornal)">delete</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

