<form class="col s12">
    <ul class="tabs">
    <li class="tab col s3" ng-click="currentTab = 'T1'"><a ng-class="{'active':currentTab == 'T1'}">Template1</a></li>
    <li class="tab col s3" ng-click="currentTab = 'T2'"><a ng-class="{'active':currentTab == 'T2'}">Template2</a></li>
    <li class="tab col s3" ng-click="currentTab = 'T3'"><a ng-class="{'active':currentTab == 'T3'}">Template3</a></li>
</ul>
</form>

<div ng-show="currentTab == 'T1'" class="col s12 tab-div">
    <h7 class="">Adicione uma imagem </h7>

    <div flow-init="{target: '/upload'}"
         flow-files-submitted="$flow.upload()"
         flow-file-success="$file.msg = $message">

        <input type="file" flow-btn/>
        Input OR Other element as upload button
        <span class="btn" flow-btn>Upload File</span>

        <table>
            <tr ng-repeat="file in $flow.files">
                <td>{{$index+1}}</td>
                <td>{{file.name}}</td>
                <td>{{file.msg}}</td>
            </tr>
        </table>
    </div>
</div>

<div ng-show="currentTab =='T2'" class="col s12 tab-div">
    <h7 class="">Adicione uma imagem </h7>

    <div flow-init="{target: '/upload'}"
         flow-files-submitted="$flow.upload()"
         flow-file-success="$file.msg = $message">

        <input type="file" flow-btn/>
        Input OR Other element as upload button
        <span class="btn" flow-btn>Upload File</span>

        <table>
            <tr ng-repeat="file in $flow.files">
                <td>{{$index+1}}</td>
                <td>{{file.name}}</td>
                <td>{{file.msg}}</td>
            </tr>
        </table>
    </div>

    <div class="row">
        <form class="col s12">
            <div class="input-field col s6">
                <input id="titulo1" type="text" class="validate">
                <label for="titulo1">Título1</label>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea" data-length="120"></textarea>
                    <label for="textarea1">Textarea1</label>
                </div>
            </div>
            <div class="input-field col s6">
                <input id="titulo2" type="text" class="validate">
                <label for="titulo2">Título2</label>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
                    <label for="textarea2">Textarea2</label>
                </div>
            </div>
        </form>
    </div>
</div>

<div ng-show="currentTab == 'T3'" class="col s12 tab-div">

    <h7 class="">Adicione uma imagem </h7>

    <div flow-init="{target: '/upload'}"
         flow-files-submitted="$flow.upload()"
         flow-file-success="$file.msg = $message">

        <input type="file" flow-btn/>
        Input OR Other element as upload button
        <span class="btn" flow-btn>Upload File</span>

        <table>
            <tr ng-repeat="file in $flow.files">
                <td>{{$index+1}}</td>
                <td>{{file.name}}</td>
                <td>{{file.msg}}</td>
            </tr>
        </table>
    </div>

    <h7 class="">Adicione uma imagem </h7>

    <div flow-init="{target: '/upload'}"
         flow-files-submitted="$flow.upload()"
         flow-file-success="$file.msg = $message">

        <input type="file" flow-btn/>
        Input OR Other element as upload button
        <span class="btn" flow-btn>Upload File</span>

        <table>
            <tr ng-repeat="file in $flow.files">
                <td>{{$index+1}}</td>
                <td>{{file.name}}</td>
                <td>{{file.msg}}</td>
            </tr>
        </table>
    </div>

    <form class="col s12">
        <div class="input-field col s6">
            <input id="titulo3" type="text" class="validate">
            <label for="titulo3">Título1</label>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea id="textarea3" class="materialize-textarea" data-length="120"></textarea>
                <label for="textarea3">Textarea1</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea id="textarea4" class="materialize-textarea" data-length="120"></textarea>
                <label for="textarea4">Textarea2</label>
            </div>
        </div>
    </form>
</div>
</div>