<h2>Página</h2>
<hr>

<div class="form-group">
    <label class="col-sm-4 col-md-4 control-label">Número Página</label>
    <div class="col-sm-3 col-md-3">
        <input type="text" class="form-control" placeholder="Número da Página" required ng-model="pagina.numPagina">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-4 col-md-4 control-label">Nome da Página</label>
    <div class="col-sm-3 col-md-3">
        <input type="text" class="form-control" placeholder="Nome da Página" required ng-model="pagina.nomPagina">
    </div>
</div>

<nav class="nav-extended">
    <div class="nav-content">
        <ul class="tabs nav-mobile hide-on-med-and-down">
            <li class="tab col s3" ng-click="currentTab = '2'; fillTemplateDados()"><a ng-class="{'active':currentTab == 'T1'}">Template1</a></li>
            <li class="tab col s3" ng-click="currentTab = '3'; fillTemplateDados()"><a ng-class="{'active':currentTab == 'T2'}">Template2</a></li>
            <li class="tab col s3" ng-click="currentTab = '4'; fillTemplateDados()"><a ng-class="{'active':currentTab == 'T3'}">Template3</a></li>
        </ul>
    </div>
</nav>

<div id="divDadosTemplate">

</div>
<div id="divButtonSaveBack">
    <div class="form-group">
        <div class="col-sm-offset-4 col-md-offset-4 col-sm-3 col-md-3">
            <button type="submit" class="btn btn-blue" ng-click="save()">Salvar</button>
            <button type="button" class="btn btn-default" ng-click="go('jornal/')">Voltar</button>
        </div>
    </div>
</div>
