<div class="page-title">Página</div>
<hr>

<div class="form-content">
	<div class="row">
		<div class="input-field col s3">
			<input id="numPagina" type="text" class="validate" ng-model="pagina.numPagina" disabled>
			<label for="numPagina" ng-class="{ 'active' : pagina.numPagina != undefined }">Número da Página</label>
		</div>
		<div class="input-field col s9">
			<input id="nomePagina" type="text" class="validate" ng-model="pagina.nomPagina" required>
			<label for="nomePagina" ng-class="{ 'active' : pagina.numPagina != undefined }">Nome da Página</label>
		</div>
	</div>
		<div class="template-list">
			<div class="label">Template:</div>
			<ul>
				<li ng-repeat="template in templateList" ng-class="{ 'selected' : template.idTemplate == selectedTemplate.idTemplate}" ng-click="selectTemplate(template)">
					<img src="assets/images/{{template.idTemplate}}.png" />
				</li>
			</ul>
		</div>
</div>
<div class="template-form" ng-show="selectedTemplate.idTemplate != undefined">
	<div ng-repeat="dado in selectedTemplate.dadosTemplate">
		<div class="input-field col s12" ng-if="dado.idTipoTemplateDado == 1">
			<input id="dado-{{dado.idTemplateDado}}" type="text" class="validate">
			<label for="dado-{{dado.idTemplateDado}}">{{dado.descTemplateDado}}</label>
		</div>
		<div class="input-field col s12" ng-if="dado.idTipoTemplateDado == 2">
			<textarea id="textarea1" class="materialize-textarea"></textarea>
			<label for="textarea1">{{dado.descTemplateDado}}</label>
		</div>
		<div class="file-field input-field" ng-if="dado.idTipoTemplateDado == 3">
			<div class="btn">
				<span>{{dado.descTemplateDado}}</span>
				<input type="file" required>
			</div>
			<div class="file-path-wrapper">
				<input class="file-path validate" type="text">
			</div>
		</div>
	</div>
</div>

<div id="divButtonSaveBack">
    <div class="form-group">
        <div class="col-sm-offset-4 col-md-offset-4 col-sm-3 col-md-3">
            <button type="submit" class="btn btn-blue" ng-click="save()">Salvar</button>
            <button type="button" class="btn btn-default" ng-click="voltar()">Voltar</button>
        </div>
    </div>
</div>
