<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Equipe - ZeitGeist</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../assets/css/team.css">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <!--
        <div class="section header white">
        <div class="background">
            <img src="assets/images/equipe.jpg" alt="">
        </div>
        <div class="header-wrapper row valign-wrapper">
            <div class="col s12 m6 offset-m3 valign">
                <h1>Team!</h1>
                <span class="tagline">Equipe NewtonPaiva</span>
            </div>
        </div>
    </div> -->
    <div class="section white full-height">
        <div class="row valign">
            <div class="col s12 m11 team">

                <div class="row">
                    <div class="col s12 l3 center-on-small-only">
                        <h4 class="section-title">Product Owner</h4>
                    </div>

                    <div class="col s12 l9">
                        <div class="row">

                            <div class="col s12 m4">
                                <div class="avatar-wrapper">
                                    <span class="avatar">
                      <img src="../assets/images/time/Igor_Henrique.png" alt="">
                    </span>
                                </div>
                                <div class="avatar-name">
                                    <span class="name">Igor Henrique</span>
                                    <span class="title">Product Owner</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 l3 center-on-small-only">
                        <h4 class="section-title">Scrum Master</h4>
                    </div>

                    <div class="col s12 l9">
                        <div class="row">

                            <div class="col s12 m4">
                                <div class="avatar-wrapper">
                                    <span class="avatar">
                      <img src="../assets/images/time/otavio.png" alt="">
                    </span>
                                </div>
                                <div class="avatar-name">
                                    <span class="name">Otávio Batista</span>
                                    <span class="title">Scrum Master</span>
                                </div>
                            </div>

                            <div class="col s12 m4">
                                <div class="avatar-wrapper">
                                    <span class="avatar">
                      <img src="../assets/images/time/marcelino.png" alt="">
                    </span>
                                </div>
                                <div class="avatar-name">
                                    <span class="name">Marcelino Lisboa</span>
                                    <span class="title">Scrum Master</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12">
                        <div class="divider"></div>
                    </div>
                    <div class="col s12 l3 center-on-small-only">
                        <h4 class="section-title">Desenvolvedores</h4>
                    </div>

                    <div class="col s12 l9">
                        <div class="row">

                            <div class="col s12 m4">
                                <div class="avatar-wrapper">
                                    <span class="avatar">
                      <img src="../assets/images/time/lucasfornero.jpg" alt="">
                    </span>
                                </div>
                                <div class="avatar-name">
                                    <span class="name">Lucas Fornero</span>
                                    <span class="title">Desenvolvedor</span>
                                </div>
                            </div>

                            <div class="col s12 m4">
                                <div class="avatar-wrapper">
                                    <span class="avatar">
                      <img src="../assets/images/time/joao_heringer.png" alt="">
                    </span>
                                </div>
                                <div class="avatar-name">
                                    <span class="name">João Henriger</span>
                                    <span class="title">Desenvolvedor</span>
                                </div>
                            </div>

                            <div class="col s12 m4">
                                <div class="avatar-wrapper">
                                    <span class="avatar">
                      <img src="../assets/images/time/carina_roriz.jpg" alt="">
                    </span>
                                </div>
                                <div class="avatar-name">
                                    <span class="name">Carina Roriz</span>
                                    <span class="title">Desenvolvedora</span>
                                </div>
                            </div>

                            <div class="col s12 m4">
                                <div class="avatar-wrapper">
                                    <span class="avatar">
                      <img src="../assets/images/time/fillipe_perpetuo.png" alt="">
                    </span>
                                </div>
                                <div class="avatar-name">
                                    <span class="name">Fillipe Perpétuo</span>
                                    <span class="title">Desenvolvedor</span>
                                </div>
                            </div>
                            
                            <div class="col s12 m4">
                                <div class="avatar-wrapper">
                                    <span class="avatar">
                      <img src="../assets/images/time/vivian_silva.png" alt="">
                    </span>
                                </div>
                                <div class="avatar-name">
                                    <span class="name">Vivian Silva</span>
                                    <span class="title">Desenvolvedora</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col s12">
                        <div class="divider"></div>
                    </div>
                    <div class="col s12 l3 center-on-small-only">
                        <h4 class="section-title">Analistas</h4>
                    </div>

                    <div class="col s12 l9">
                        <div class="row">

                            <div class="col s12 m4">
                                <div class="avatar-wrapper">
                                    <span class="avatar">
                      <img src="../assets/images/time/napoliana_santos.png" alt="">
                    </span>
                                </div>
                                <div class="avatar-name">
                                    <span class="name">Napoliana Santos</span>
                                    <span class="title">Analista de Teste</span>
                                </div>
                            </div>

                            <div class="col s12 m4">
                                <div class="avatar-wrapper">
                                    <span class="avatar">
                      <img src="../assets/images/time/vitor_alessandro.png" alt="">
                    </span>
                                </div>
                                <div class="avatar-name">
                                    <span class="name">Vitor Alessandro</span>
                                    <span class="title">Analista de Teste</span>
                                </div>
                            </div>

                            
                            <div class="col s12 m4">
                                <div class="avatar-wrapper">
                                    <span class="avatar">
                      <img src="../assets/images/time/Ater.png" alt="">
                    </span>
                                </div>
                                <div class="avatar-name">
                                    <span class="name">Ater Souza</span>
                                    <span class="title">Analista de Teste</span>
                                </div>
                            </div>

                            <div class="col s12 m4">
                                <div class="avatar-wrapper">
                                    <span class="avatar">
                      <img src="../assets/images/time/jose_marcelino.png" alt="">
                    </span>
                                </div>
                                <div class="avatar-name">
                                    <span class="name">Jose Marcelino</span>
                                    <span class="title">Analista de Software</span>
                                </div>
                            </div>

                            <div class="col s12 m4">
                                <div class="avatar-wrapper">
                                    <span class="avatar">
                      <img src="../assets/images/time/andre_carvalho.png" alt="">
                    </span>
                                </div>
                                <div class="avatar-name">
                                    <span class="name">André Carvalho</span>
                                    <span class="title">Analista de Software</span>
                                </div>
                            </div>

                            <div class="col s12 m4">
                                <div class="avatar-wrapper">
                                    <span class="avatar">
                      <img src="../assets/images/time/bruno_sartori.png" alt="">
                    </span>
                                </div>
                                <div class="avatar-name">
                                    <span class="name">Bruno Satori</span>
                                    <span class="title">Analista de Software</span>
                                </div>
                            </div>
                            <div class="col s12 m4">
                                <div class="avatar-wrapper">
                                    <span class="avatar">
                      <img src="../assets/images/time/rodrigo_toledo.png" alt="">
                    </span>
                                </div>
                                <div class="avatar-name">
                                    <span class="name">Rodrigo Toledo</span>
                                    <span class="title">Analista de Software</span>
                                </div>
                            </div>

                            <div class="col s12 m4">
                                <div class="avatar-wrapper">
                                    <span class="avatar">
                      <img src="../assets/images/time/Carlos_Henrique.png" alt="">
                    </span>
                                </div>
                                <div class="avatar-name">
                                    <span class="name">Carlos Henrique</span>
                                    <span class="title">Analista de Banco de Dados</span>
                                </div>
                            </div>

                            <div class="col s12 m4">
                                <div class="avatar-wrapper">
                                    <span class="avatar">
                      <img src="../assets/images/time/rafael_werneck.jpg" alt="">
                    </span>
                                </div>
                                <div class="avatar-name">
                                    <span class="name">Rafael Werneck</span>
                                    <span class="title">Analista de Banco de Dados</span>
                                </div>
                            </div>

                            <div class="col s12 m4">
                                <div class="avatar-wrapper">
                                    <span class="avatar">
                      <img src="../assets/images/time/rodrigo_rodrigues.png" alt="">
                    </span>
                                </div>
                                <div class="avatar-name">
                                    <span class="name">Rodrigo Rodrigues</span>
                                    <span class="title">Analista de Banco de Dados</span>
                                </div>
                            </div>
                            <div class="col s12 m4">
                                <div class="avatar-wrapper">
                                    <span class="avatar">
                      <img src="../assets/images/time/thawan.png" alt="">
                    </span>
                                </div>
                                <div class="avatar-name">
                                    <span class="name">Thawan Guimarães</span>
                                    <span class="title">Analista de Banco de Dados</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12">
                        <div class="divider"></div>
                    </div>
                    <div class="col s12 l3 center-on-small-only">
                        <h4 class="section-title">Designer</h4>
                    </div>

                    <div class="col s12 l9">
                        <div class="row">

                            <div class="col s12 m4">
                                <div class="avatar-wrapper">
                                    <span class="avatar">
                      <img src="../assets/images/time/johnny_junio.png" alt="">
                    </span>
                                </div>
                                <div class="avatar-name">
                                    <span class="name">Johnny Ramos</span>
                                    <span class="title">Designer</span>
                                </div>
                            </div>

                            <div class="col s12 m4">
                                <div class="avatar-wrapper">
                                    <span class="avatar">
                      <img src="../assets/images/time/alex.png" alt="">
                    </span>
                                </div>
                                <div class="avatar-name">
                                    <span class="name">Alex Lazaroti</span>
                                    <span class="title">Designer</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12">
                        <div class="divider"></div>
                    </div>
                    <div class="col s12 l3 center-on-small-only">
                        <h4 class="section-title">Orientador</h4>
                    </div>

                    <div class="col s12 l9">
                        <div class="row">

                            <div class="col s12 m4">
                                <div class="avatar-wrapper">
                                    <span class="avatar">
                      <img src="../assets/images/time/tarley_lana.png" alt="">
                    </span>
                                </div>
                                <div class="avatar-name">
                                    <span class="name">Tarley Lana</span>
                                    <span class="title">Professor Orientador</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <!-- Scripts -->
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                <script src="js/materialize.min.js"></script>

                <!-- External libraries -->
                <script src="js/imagesloaded.pkgd.min.js"></script>
                <script src="js/masonry.pkgd.min.js"></script>
                <script src="js/TweenMax.min.js"></script>
                <script src="js/ScrollMagic.min.js"></script>
                <script src="js/animation.gsap.min.js"></script>

                <!-- Initialization script -->
                <script src="js/startup.js"></script>
                <script src="js/init.js"></script>
</body>

</html>
