<div>
    <div class="page-title">Usuário</div>
    <hr>
    <a class="btn waves-effect waves-light grey darken-3" style="margin-bottom: 10px" ng-href="#!/usuario/0">Novo</a>
    <table class="bordered">
        <tr>
            <th style="width: 10%">Código</th>
            <th style="width: 30%">Nome</th>
            <th style="width: 30%">Email</th>
            <th style="width: 15%"></th>
            <th style="width: 15%"></th>
        </tr>
        <tr ng-repeat="usuario in usuarioList">
            <td class="text-center">{{usuario.idUsuario}}</td>
            <td>{{usuario.nomUsuario}}</td>
            <td>{{usuario.emailUsuario}}</td>
            <td class="text-center">
				<a ng-href="#!/usuario/{{usuario.idUsuario}}" class="btn grey darken-3 waves-effect waves-light">Editar
					<i class="material-icons left">create</i>
				</a>
            </td>
			<td class="text-center">
				<a class="btn red waves-effect waves-light" ng-click="changeStatus(usuario, 1)" ng-if="usuario.inativo == 0">Inativar
					<i class="material-icons left">arrow_downward</i>
				</a>
				<a class="btn green waves-effect waves-light" ng-click="changeStatus(usuario, 0)" ng-if="usuario.inativo == 1">Ativar
					<i class="material-icons left">arrow_upward</i>
				</a>
			</td>
        </tr>
    </table>
</div>

<!--"usuario/{{usuario.idUsuario}}"-->
