<div>
    <div class="page-title">Usuário</div>
    <hr>
    <a class="btn waves-effect waves-light indigo" style="margin-bottom: 10px" ng-href="usuario/0">Novo</a>
    <table class="bordered">
        <tr>
            <th class="text-center col-sm-1 col-md 1">Código</th>
            <th>Nome</th>
            <th>Email</th>
            <th class="col-sm-3 col-md-3"></th>
        </tr>
        <tr ng-repeat="usuario in usuarioList">
            <td class="text-center">{{usuario.idUsuario}}</td>
            <td>{{usuario.nomUsuario}}</td>
            <td>{{usuario.emailUsuario}}</td>
            <td class="text-center">
                <a ng-href="usuario/{{usuario.idUsuario}}" class="btn btn-default btn-sm btn-icon icon-left">
                    <i class="entypo-pencil"></i>Editar
                </a>
            </td>
        </tr>
    </table>
</div>